# dependencies
**/node_modules/
node_modules/
**/node_modules/.bin/
node_modules/.bin/
**/npm-debug.log*

# React Native + Expo
apps/mobile/.expo/
apps/mobile/build/
apps/mobile/*.bin
apps/mobile/.env
apps/mobile/app.json.bak
apps/mobile/cache/

# Next.js
.next/
out/

# production
/build

# misc
.DS_Store
*.pem

# debug
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/